@import "tailwindcss";

@layer base {
	html {
		font-family: "Inter", sans-serif;
	}
}

/* Скрываем стандартный плейсхолдер даты */
.hide-date-placeholder::-webkit-datetime-edit {
	color: transparent;
}

/* Показываем текст при вводе */
.hide-date-placeholder:not(:focus):valid::-webkit-datetime-edit {
	color: inherit !important;
}

/* Для Firefox */
.hide-date-placeholder:invalid::-moz-placeholder {
	color: transparent;
}
